
#topBar{
  background-color: #feec04;
  display: table-cell;
  height: 4vh;
  position: relative;
  vertical-align: middle;
  width:100vw;
}

#tel{
  color: black;
  float: left;
  font-size: 80%;
  margin-left: 4%;
  position: relative;
  text-decoration: none;
}

#mail{
  color: black;
  float:right;
  font-size: 80%;
  margin-right: 4%;
  position: relative;
  text-decoration: none;
}


.content{
  display: block;
  line-height: 200%;
  margin: auto;
  text-align: center;
  width: 75%;
}

.imgClass{
  border: 2px solid black;
  margin-bottom: 5%;
  margin-top: 5%;
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 0;
}


.divFurnizori{
  background-color: #feec04; 
  color: #202020;
  display: block;
  font-size: 1.3vw;
  margin: auto;
  margin-top: 20%;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
  width: 98vw;
}

.furnizori{
  padding-bottom: 1%;
  padding-top: 1%;
  position:relative;
  width: 10%;
}


