

content{
    display: block;
    line-height: 200%;
    margin: auto;
    text-align: center;
    width: 75%;
}

.imgClass{
    border: 2px solid black;
    margin-top: 10%;
    position: relative;
    width: 100%;
} 